header, nav, footer{
   border: 2px solid #f0ff;
   height: 30px;
   text-align: center;
   padding-top: 10px;
}
nav{
   margin-top: 10px;
}
section, article{
    border: 2px solid #f0ff;
    padding-top: 50px;
    margin-top: 10px;
    height: 150px;
    width: 50%;
    text-align: center;
    float:left !important;
    /* display: inline; */
}
aside{
    border: 2px solid #f0ff;
    padding-top: 188px;
    margin-top: -204px;
    height: 226px;
    width: 48.70%;
    float: right;
    text-align: center;
}
footer{
    margin-top: 436px;
}
#header{
    background-color: rgb(224, 54, 216);
}
#nav{
    background-color: rgb(26, 209, 133);
}
#section{
    background-color: rgb(156, 156, 252);
}
#article{
    background-color: rgb(142, 179, 248);
}
#aside{
    background-color: rgb(203, 145, 241);
}
#footer{
    background-color: rgb(194, 194, 194);
}